/*--[ GLOBAL TAG STYLES ]---------*/
html { 
font-size: 100%; 
}

body { 
font: normal 1em/1.5; 
margin: 0; 
padding: 0;
background: rgb(255,255,255);  
color: #333; 
}

:focus { 
outline: none; 
}

a:link, a:visited { 
color: #336699; 
text-decoration: none; 
border: none; 
-webkit-transition: .5s all ease-in-out; 
-moz-transition: .5s all ease-in-out;
-ms-transition: .5s all ease-in-out;
font-weight: 700;
}

a:hover, a:focus { 
color: rgb(245,81,209); 
}

                                	
/*--[ HEADER ]--------------------*/
#header {   
width: 100%; 
overflow: hidden; 
}		

#header #nav { 
margin-bottom: 20px; 
margin-top: 20px; 
width: 800px;
}


#header #nav li { 
display: inline; 
font-size: 16px; 
font-family: 'Open Sans', 'Arial', sans-serif; 
color: #777; 
padding-right: 15px;
text-transform: uppercase;
}


#header #nav a {
color: #777; 
-webkit-transition: color 0.5s ease-in-out;
-moz-transition: color 0.5s ease-in-out;
-ms-transition: color 0.5s ease-in-out;
font-weight: 300;
}

#header #nav a:hover {
color: rgb(245,81,209); 
}

/*--[ SUB-HEADER ]--------------------*/
#sub-header {
width: 100%; 
overflow: hidden;  
}

#inner-header {
margin-top: 75px; 
margin-right: auto; 
margin-left: auto; 
width: 800px; 
line-height: 1;
}


#inner-header h1 {
color: rgb(0,0,0); 
font-family: 'Abril Fatface', 'Georgia', serif; 
font-size: 90px;    
-webkit-transition: 0.5s all ease-in-out; 
-moz-transition: 0.5s all ease-in-out;
-ms-transition: .5s all ease-in-out; 
text-align: center;
font-weight: normal;
margin-bottom: 0px;
}


#inner-header h1:hover {
opacity: .5;
}
                                               		         
/*--[ MAIN CONTENTS ]--------------------*/
#contents {
width: 100%; 
overflow: hidden;  
}  

#contents-text {
width: 800px;
margin-left: auto; 
margin-right: auto;
font-family: 'Open Sans', 'Arial', sans-serif; 
font-size: 20px; 
color: #333; 
font-weight: 300; 
line-height: 1.5; 
-webkit-transition: 0.5s all ease-in-out;
-moz-transition: 0.5s all ease-in-out; 
-ms-transition: 0.5s all ease-in-out;
margin-top: 50px;
text-align: justify;
}


#Copyright {
width: 800px; 
margin-left: auto; 
margin-right: auto; 
margin-top: 50px; 
margin-bottom: 25px; 
}


#Copyright p {
font-size: 16px; 
text-align: center; 
font-family: 'Open Sans', 'Arial', sans-serif; 
color: #777; 
font-weight: 300;
}


