/*--[ GLOBAL TAG STYLES ]---------*/
html { 
font-size: 100%; 
}

body { 
font: normal 1em/1.5; 
margin: 0; 
padding: 0; 
background: rgb(232,232,220) url(https://dl.dropbox.com/u/9043524/Experiments/Index_Bkgrd_Small.png) top left repeat; 
width: 100%;   
}

:focus { 
outline: none; 
}

a:link, a:visited { 
color: rgb(33,33,33); 
text-decoration: none; 
border: none; 
-webkit-transition: color 0.2s ease-in-out; 
}
  
a:hover, a:focus { 
color: rgb(51,102,153);
}
                		

/*--[ HEADER ]--------------------*/
#header {
padding: 5px 0; 
position: relative; 
height: auto; 
width: 100%; 
overflow: hidden; 
}
                		
#header #nav { 
margin-bottom: 20px; 
margin-top: 20px; 
width: 800px; 
margin-left: 25px;  
}

#header #nav li { 
display: inline; 
font-size: 20px; 
font-family: 'Georgia', serif; 
color: rgb(33,33,33); 
font-weight: normal; 
padding: 15px; 
text-shadow: 0px 1px 1px rgb(255,255,255);  
}

#header #nav a {
color: rgb(33,33,33); 
-webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out;
}

#header #nav a:hover {
color: rgb(51,102,153); 
}
                                		
                
/*--[ MAIN CONTENTS ]--------------------*/
#contents {
width: 800px; 
margin-left: auto; 
margin-right: auto; 
padding: 50px; 
color: rgb(33,33,33);
}         
               
h1 {
font-family: 'Georgia', serif;
font-size: 52px; color: rgb(33,33,33); 
font-weight: bold; 
margin-bottom: 50px; 
-webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out; 
text-shadow: 0px 1px 1px rgb(255,255,255); 
text-align: center;
}

h1:hover {
-webkit-transform:rotate(-1deg); 
-moz-transform:rotate(-1deg);
}

p {
font-family: 'Georgia', serif; 
font-size: 24px; 
color: rgb(33,33,33); 
font-weight: normal; 
line-height: 1.5; 
-webkit-transition: all 0.5s ease-in-out; 
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out; 
text-shadow: 0px 1px 1px rgb(255,255,255); 
}

p:hover {
-webkit-transform:rotate(-1deg); 
-moz-transform:rotate(-1deg);
-ms-transform: rotate(-1deg);
}

.year {
font-size: 32px; 
color: rgb(51,102,153); 
font-weight: bold;
font-family: 'Georgia', serif; 
margin-top: 75px;
border-bottom: 1px dotted #777;
padding: 25px;
text-align: center;
}

.to-the-top {
float: right; 
clear: both; 
width: 200px; 
position: relative; 
font-size: 12px; 
font-family: 'Arial', serif; 
color: #444; 
font-weight: bold; 
text-shadow: 0px 1px 1px rgb(22,22,25); 
}

.to-the-top a {
padding: 15px; 
text-align: center; 
background: rgba(18,18,18,.85); 
color: #777; 
-webkit-transition: .5s all ease-in-out; 
-moz-transition: .5s all ease-in-out; 
-webkit-border-radius: 7px; 
-moz-border-radius: 7px; 
border-radius: 7px;
}

.to-the-top a:hover {
background: rgb(51,102,153); 
color: #fff
}

#Copyright {
width: 800px; 
margin-left: auto; 
margin-right: auto; 
margin-top: 50px; 
margin-bottom: 25px; 
}

#Copyright p {
font-size: 16px; 
text-align: center; 
color: #666;
font-family: 'Georgia', serif;
font-weight: normal;
}
        
#Copyright p:hover {
-webkit-transform: none; 
-moz-transform: none;
}
 
