/*--[ GLOBAL TAG STYLES ]---------*/
html { 
font-size: 100%; 
}

body { 
font: normal 1em/1.5; 
margin: 0; 
padding: 0; 
background: rgb(255,255,255); 
width: 100%;   
}

:focus { 
outline: none; 
}

a:link, a:visited { 
color: #333; 
text-decoration: none; 
border: none; 
-webkit-transition: 0.5s all ease-in-out; 
}
  
a:hover, a:focus { 
color: #777;
}
                		

/*--[ HEADER ]--------------------*/
#header {
width: 100%; 
overflow: hidden; 
}

#container {
margin-bottom: 20px; 
margin-top: 20px; 
width: 800px; 
margin-left: auto;
margin-right: auto;
}

#container #logo {
width: 300px;
}
  
#container #logo li {
display: inline;  
color: #000; 
font-family: 'Abril Fatface', 'Georgia', serif; 
font-weight: normal;   
font-size: 20px; 
padding: 15px;
}  
  
#container #nav {  
width: 300px;   
}

#container #nav li { 
display: inline; 
font-size: 20px; 
font-family: 'Open Sans', 'Arial', sans-serif; 
color: #777; 
font-weight: normal; 
padding: 15px;   
}

#container #nav a {
color: #777; 
-webkit-transition: 0.5s all ease-in-out; 
-moz-transition: 0.5s all ease-in-out;
-ms-transition: 0.5s all ease-in-out;
}

#container #nav a:hover {
color: #336699; 
}
                                		
                
/*--[ MAIN CONTENTS ]--------------------*/
#contents {
width: 800px; 
margin-left: auto; 
margin-right: auto; 
padding: 50px; 
color: #333;
}         
               
#contents h1 {
font-family: 'Abril Fatface', 'Georgia', serif;
font-size: 82px; 
color: #000; 
font-weight: normal; 
margin-bottom: 50px; 
-webkit-transition: 0.5s all ease-in-out; 
-moz-transition: 0.5s all ease-in-out; 
-ms-transition: 0.5s all ease-in-out; 
text-align: center;
}

#contents p {
font-family: 'Open Sans', 'Arial', sans-serif; 
font-size: 20px; 
color: #333; 
font-weight: normal; 
line-height: 1.5; 
-webkit-transition: 0.5s all ease-in-out; 
-moz-transition: 0.5s all ease-in-out;
-ms-transition: 0.5s all ease-in-out; 
}

#contents .year {
font-size: 62px; 
color: #336699; 
font-weight: normal;
font-family: 'Abril Fatface', 'Georgia', serif; 
margin-top: 75px;
margin-bottom: 0;
}

#contents .to-the-top {
float: right; 
clear: both; 
width: 200px; 
position: relative; 
font-size: 14px; 
font-family: 'Open Sans', 'Arial', sans-serif;
color: #777;  
}

#contents .to-the-top a {
padding: 15px; 
text-align: center; 
background: rgb(255,255,255); 
color: #777; 
-webkit-transition: .5s all ease-in-out; 
-moz-transition: .5s all ease-in-out; 
-ms-transition: .5s all ease-in-out;
-webkit-border-radius: 7px; 
-moz-border-radius: 7px; 
border-radius: 7px;
}

#contents .to-the-top a:hover {
background: #336699; 
color: #fff;
text-shadow: 0px 1px 2px #161619;
}

#Copyright {
width: 800px; 
margin-left: auto; 
margin-right: auto; 
margin-top: 50px; 
margin-bottom: 25px; 
}

#Copyright p {
font-size: 16px; 
text-align: center; 
color: #777;
font-family: 'Open Sans', 'Arial', sans-serif;
font-weight: normal;
}
        
